body {
	font-family: open-sans-regular, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	position: relative;
    /* background-color: #f8f8f8; */    /* JF 2016-04-26 very light grey*/
    background-color: #e8e8e8; /* JF 2016-05-04 bit darker very light grey */
    
    
}

.inverted {
	background-color: gray;
	border: none;
	font-size: 15px;
}

.inverted:focus {
	background-color: #AAA;
}

img.avatar {
	width: 25px;
	height: 25px;
}

ul {
	list-style: none;
}