ul.needs {
	padding: 0;
	margin: 0;
	background-color: black;
	padding-top: 2px;
}

li.need {
	position: relative;
	min-height: 50px;
	line-height: 15px;
	list-style: none;
	margin: 2px;
	padding: 4px;
	background-color: white;
	color: black;
}

li.need span.time {
	padding-top: 20px;
	margin-right: 5px;
}

li.need img.avatar {
	/*float: left;*/
	margin: 0 4px;
}

li.need a {
	text-decoration: none;
}

li.need .name {
	font-family: open-sans-extrabold, impact;
}

li.need p {
	margin-top: 3px;
	margin-bottom: 0;
}

input[name="need"] {
	line-height: 25px;
	height: 25px;
	width: 100%;
	padding-left: 5px;
}

/*li.need span.timecode {
	float: left;
}*/