#needlist {
	width: 300px;
	float: left;
	height: calc( 100% - 52px );
	overflow-y: scroll;
	position: relative;
}

#openchats {
	width: calc( 100% - 305px );
	float: left;
	height: calc( 100% - 52px );
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
}

div.conversation {
	float: left;
	position: relative;
	width: 300px;
	height: 100%;
	outline: 1px solid black;
}

div.conversation .close {
	display: none;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	color: white;
	font-family: open-sans-extrabold, impact;
	text-shadow: 0 0 7px black;
	background-color: #C00;
	content: 'x';
	border: none;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}

div.conversation:hover .close {
	display: inherit;
}

div.conversation .close:hover {
	background-color: red;
}

ul.needs {
	padding: 2px 0;
	margin: 0;
	background-color: black;
}

li.resource {
	position: relative;
	margin: 2px;
	margin-left: 15px;
	padding: 4px;
	padding-left: 10px;
	background-color: white;
	color: black;
	border-radius: 0 0 0 15px;
}

li.resource.free {
	border-radius: 15px 0 0 15px;
}

li.resource p {
	margin: 0;
}

li.need {
	position: relative;
	min-height: 50px;
	line-height: 15px;
	margin: 2px;
	padding: 4px;
	background-color: white;
	color: black;
	cursor: pointer;
}

li.need:hover {
	background-color: #FFC;
}

.need:hover button.resource {
	display: inherit;
}

button.resource {
	display: none;
	color: white;
	background-color: green;
	font-family: open-sans-extrabold, impact;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	border: none;
	border-radius: 25%;
	text-shadow: 0 0 7px black;
}

button.resource:hover {
	background-color: #3A3;
}

li.need span.timecode:before {
	content: "\a";
	white-space: pre;
}

li.need img.avatar {
	/*float: left;*/
	margin: 0 4px;
}

li.need span[contentEditable=true]:hover {
	text-decoration: underline;
	cursor: text;
}

li.need .name {
	font-family: open-sans-extrabold, impact;
}

li.need p {
	margin-top: 3px;
	margin-bottom: 0;
}

input[name="need"] {
	line-height: 25px;
	height: 25px;
	width: 100%;
	padding-left: 5px;
	box-sizing: border-box;
}

/*li.need span.timecode {
	float: left;
}*/