<template name="chat">
  {{#with getConversation this}}
    <section class="chat" data-sourceId="{{need._id}}" style="height: calc( 100% - {{footerHeight}}px )">
      <div>
        {{#each speakingTurns}}
          <div class="speakingturn{{whose}}">
            {{#if isOwner}}
              <span class="name">me</span>
            {{else}}
              <span class="name">{{userIdToUserName createdBy}}</span>
              {{> avatar}}
            {{/if}}
          </div>
          {{#each streaks}}
            <div class="streak{{whose}}">
              {{#each lines}}
                <span {{contenteditability}} class="chatline{{whose}}">
                  {{text}}
                </span>
              {{/each}}
            </div>
            <p class="chat-timecode{{whose}}">{{formatTime created}}</p>
          {{/each}}
        {{/each}}
        {{#if showTyping need.writingMessage}}
          <div class="streak">
            <span class="chatline typing">
              <span>.</span><span>.</span><span>.</span>
            </span>
          </div>
        {{/if}}
      </div>
    </section>
    {{#if isAllowed 'post chatmessages'}}
      <footer id="need-detail-footer">
        {{#with need}}
          <textarea style="width: calc( 100% - 25px * {{inChat.length}} )" class="inverted" name="message" placeholder="..." autocomplete="off" resize="none"></textarea>
          {{#each inChat}}
            {{{getAvatar this}}}
          {{/each}}
        {{/with}}
      </footer>
    {{/if}}
  {{/with}}
</template>
