<template name="needs">
  {{#if isAllowed 'separate windows'}}
    {{> needlist}}
  {{else}}
    <!-- JF 2016-04-12  <aside id="feedlist">{{> feedlist}}</aside> -->
    <aside id="needlist">{{> needlist}}</aside>
    <section id="openchats">{{> chatcollection}}</section>
  {{/if}}
</template>


<!-- JF 2016-04-12 -->
<template name="needlist">
  {{#if isAllowed 'post needs'}}
    <input class="inverted" name="need" placeholder="need" />
    
    <!-- 2016-05-29 Actually this resource button is now hidden by request of Edit,
                    the hiding is done in needfeed.js function keyupNeedInput( event ) 
                    
                    I left these 3 lines here for now as removing them breaks things: 
                        you can then not enter needs anymore.
                    -->
    {{#if isAllowed 'post resources'}}
      <button class="resourceButton">Resource</button>
    {{/if}}
    <!-- -->
  {{/if}}

  <ul class="needs {{needsMultiColumn}}">
    {{#each needsAndLooseResources}}
        {{> need}}
        
        <!-- <li class="freeResource"> -->
            {{> freeResource this}}
        <!-- </li> -->
    {{/each}}
  </ul>

</template>

<!-- /JF-->

<!-- JF commented out 2016-04-12

<template name="needlist">
  {{#if isAllowed 'post needs'}}
    <input class="inverted" name="need" placeholder="what is your need" />
    {{#if isAllowed 'post resources'}}
      <button class="resource">R</button>
    {{/if}}
  {{/if}}
  <ul class="needs">
    {{#each getLooseResources}}
      <li class="free resource">
        {{> resource this}}
      </li>
    {{/each}}
    {{#each needs}}
      {{> need}}
    {{/each}}
  </ul>
</template>

-->

<template name="need">
  {{#if isNotNull title}}
      <li class="need">
        {{#if isAllowed 'post resources'}}
          <button class="resourceButton">R</button>
        {{/if}}
        {{{getAvatar createdBy}}}
        
        <span class="name">{{userIdToUserName createdBy}}</span>
        
        {{#if isNotNull tags}}
            {{#if getTagUsers tags createdBy}}
            
                <span class="tags">
                
                    <img class="taglink" src="/link.png">
                    {{#each getTagUsers tags createdBy}}
                        {{{getAvatar this}}}
                        {{userIdToUserName this}} 
                    {{/each}}
                </span>    
            {{/if}}
        {{/if}}        
        <!-- JF change CSS based on Need state        
        <span class="need-title-state-{{state}}"> -->
        <span class="need-title-state-none">
            <span class="timecode">{{formatTime created}}</span>    
            <span {{contenteditability}}>{{title}}</span>        
        </span>
        
      </li>
      {{#if getResources _id}}
        {{#each getResources _id}}
          <li class="resource">
            {{> resource this}}
          </li>
        {{/each}}
      {{/if}}
  {{/if}}   
</template>

<template name="freeResource">
    {{#if isNotNull value}}
        <li class="freeResource">
            {{{getAvatar createdBy}}}
            <span class="name">{{userIdToUserName createdBy}}</span>
            <span {{contenteditability}}>{{value}}</span>
        </li>
    {{/if}}
</template>

<template name="resource">
    {{#if isNotNull value}}
        {{{getAvatar createdBy}}}
        <span class="name">{{userIdToUserName createdBy}}</span>
        <span {{contenteditability}}>{{value}}</span>
    {{/if}}
</template>

<template name="chatcollection">
  <div style="width: calc( ( {{conversations.length}} + {{tagconversations.length}} ) * 300px ); height: 100%; position: relative">
  
    {{#each conversations}}
      <div class="conversation">
        <button class="close">x</button>
        {{> chat this}}
      </div>
    {{/each}}
    
    {{#each tagconversations}}
      <div class="conversation">
        <button class="tagclose">x</button>
        {{> tagchat this}}
      </div>
    {{/each}}
        
  </div>
</template>

<!--
<template name="chatcollection">

  <div style="width: calc( {{conversations.length}} * 300px ); height: 100%; position: relative">
    {{#each conversations}}
      <div class="conversation">
        <button class="close">x</button>
        {{> chat this}}
      </div>
    {{/each}}
  </div>
</template>
-->