<template name="needs">
  {{#if isAllowed 'separate windows'}}
    {{> needlist}}
  {{else}}
    <aside id="needlist">{{> needlist}}</aside>
    <section id="openchats">{{> chatcollection}}</section>
  {{/if}}
</template>

<template name="needlist">
  {{#if isAllowed 'post needs'}}
    <input class="inverted" name="need" placeholder="what is your need" />
  {{/if}}
  <ul class="needs">
    {{#each needs}}
      {{> need}}
    {{/each}}
  </ul>
</template>

<template name="need">
  <li class="need">
    {{{getAvatar createdBy}}}
    <span class="name">{{userIdToUserName createdBy}}</span>
    <!-- <button class="delete">x</button> -->
    <span class="timecode">{{formatTime created}}</span>
    <span {{contenteditability}}>{{title}}</span>
  </li>
</template>

<template name="chatcollection">
  <div style="width: calc( {{conversations.length}} * 300px ); height: 100%; position: relative">
    {{#each conversations}}
      <div class="conversation">
        <button class="close">x</button>
        {{> chat this}}
      </div>
    {{/each}}
  </div>
</template>