<template name="needs">
  {{#if currentUser}}
    <input class="inverted" name="need" placeholder="what is your need" />
  {{/if}}
  <ul class="needs">
    {{#each needs}}
      {{> need}}
    {{/each}}
  </ul>
</template>

<template name="need">
  <li class="need">
    <a class="open-chat" href="/needs/{{_id}}">
      <span class="timecode">{{formatTime created}}</span>
      {{{getAvatar createdBy}}}
      <span class="name">{{userIdToUserName createdBy}}</span>
      <!-- <button class="delete">x</button> -->
      <p>{{title}}</p>
    </a>
  </li>
</template>