<template name="root">

<!-- JF 2016-08-20
	<h4>
		keybinds:
	</h4>
	<ul>
		<li>
			<h5>need feed</h5>
			<ul>
				<li>
					U: change need title to selected text
				</li>
			</ul>
		</li>
	</ul>
-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<ul>
		<li>
            <h3>
                How to create an account:
            </h3>
         </li>   
    </ul>
	<ul>
		<li>
            1: Click "Sign in" at the top, then "Create account" on bottom right.
		</li>
		<li>
            2: Enter a username + password, and click "Create account".
		</li>
		<li>
            3: From the top menu, click "profile" and upload an avatar.
		</li>
    </ul>
<br>

	<ul>
		<li>
            <h3>
                How to access the need feed:
            </h3>
         </li>   
    </ul>
    <ul>
		<li>
            Just click "needs" in the top menu.
		</li>
	</ul>


</template>