<template name="tagchat">
  {{#with getTagConversation this}}
    <!-- JF getTagConversation returns:
            need: actually this is not a need but a TagChatRoom (still need to refactor)
            speakingTurns: Ivo's magic
            -->
    <section class="tagchat" data-sourceId="{{need._id}}" style="height: calc( 100% - {{footerHeight}}px )">
      <div>
        {{#each speakingTurns}}
        
         <table class="chat-table{{whose}}" border="0" cellspacing="0" cellpadding="0">
         <tr>
          {{#if isOwner}}
            <td width="100%">
              <div class="speakingturn{{whose}}">
                  <span class="name">{{userIdToUserName createdBy}}</span>
              </div>
             </td>
            <td></td>
          
          {{else}}
            <td></td>
            <td width="100%">
              <div class="speakingturn{{whose}}">
                  <span class="name">{{userIdToUserName createdBy}}</span>
              </div>
             </td>
          {{/if}} 
            
          </tr>    
          {{#each streaks}}
          <tr>
          {{#if isOwner}}

           <td>
            <div class="streak{{whose}}">
              {{#each lines}}
                <span {{contenteditability}} class="chatline{{whose}}">
                  {{text}}
                </span>
              {{/each}}
            </div>
            <p class="chat-timecode{{whose}}">{{formatTime created}}</p>
            </td>

            <td valign="middle">
            <div class="streak-avatar">
                {{> avatar}}
            </div>
           </td>
   
          {{else}}
          
            <td valign="middle">
            <div class="streak-avatar">
                {{> avatar}}
            </div>
           </td>
           <td>
            <div class="streak{{whose}}">
              {{#each lines}}
                <span {{contenteditability}} class="chatline{{whose}}">
                  {{text}}
                </span>
              {{/each}}
            </div>
            <p class="chat-timecode{{whose}}">{{formatTime created}}</p>
            </td>
           
          {{/if}}
           </tr>
          {{/each}}
           </table> 
        {{/each}}
        {{#if showTyping need.writingMessageTagChat}}
          <div class="streak">
            <span class="chatline typing">
              <span>.</span><span>.</span><span>.</span>
            </span>
          </div>
        {{/if}}
      </div>
    </section>
    {{#if isAllowed 'post chatmessages'}}
      <footer id="need-detail-footer">
        {{#with need}}
          <textarea style="width: calc( 100% - 25px * {{inTagChat.length}} )" class="inverted" name="message" placeholder="..." autocomplete="off" resize="none"></textarea>
          {{#each inTagChat}}
            {{{getAvatar this}}}
          {{/each}}
        {{/with}}
      </footer>
    {{/if}}
  {{/with}}
</template>
