<template name="timeoffset">
	<select id="timeoffset">
		<option value="-10 Y">ten years back</option>
		<option value="-1 Y">one year back</option>
		<option value="-6 M">six months back</option>
		<option value="-3 M">three months back</option>
		<option value="-1 M">one month back</option>
		<option value="-1 W">one week back</option>
		<option value="-1 D">one day back</option>
		<option value="-12 h">twelve hours back</option>
		<option value="-6 h">six hours back</option>
		<option value="-3 h">three hours back</option>
		<option value="-1 h">one hour back</option>
		<option value="-30 m">half an hour back</option>
		<option value="-15 m">quarter of an hour back</option>
		<option value="-10 m">ten minutes back</option>
		<option value="-5 m">five minutes back</option>
		<option value="-1 m">one minute back</option>
		<option value="-30 s">thirty seconds back</option>
		<option value="-10 s">ten seconds back</option>
		<option value="-1 s">one second back</option>
		<option value="0" selected disabled>change time for all items</option>
		<option value="1 s">one second ahead</option>
		<option value="10 s">ten seconds ahead</option>
		<option value="30 s">thirty seconds ahead</option>
		<option value="1 m">one minute ahead</option>
		<option value="5 m">five minutes ahead</option>
		<option value="10 m">ten minutes ahead</option>
		<option value="15 m">quarter of an hour ahead</option>
		<option value="30 m">half an hour ahead</option>
		<option value="1 h">one hour ahead</option>
		<option value="3 h">three hours ahead</option>
		<option value="6 h">six hours ahead</option>
		<option value="12 h">twelve hours ahead</option>
		<option value="1 D">one day ahead</option>
		<option value="1 W">one week ahead</option>
		<option value="1 M">one month ahead</option>
		<option value="3 M">three months ahead</option>
		<option value="6 M">six months ahead</option>
		<option value="1 Y">one year ahead</option>
		<option value="10 Y">ten years ahead</option>
	</select>
</template>